/* Für die zwei Grids innerhalb den zwei Grids unter dem Bild */
#innerGrid {
	margin-left: auto;
	margin-right: auto;
}

#infotext {
	text-align: center
}



p {
	color: grey
}

h1{
	font-family: Poppins;
	font-size: 50;
	font-weight: 500;
	line-height: 1.1;
	color: darkslategray
}

h2{
	font-family: Poppins;
	font-size: 30;
	font-weight: 500;
	line-height: 1.1;
	color: darkslategray
}
