#logo {
    width: 100%;
}

.link {
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.link:hover {
    color: darkslategray;
    text-decoration: none;
}

.menuStyle {
    text-decoration: none;
    color: darkslategray;
    font-family: Poppins;
    min-width: 50px;
    font-size: 11.5pt;
}

.menuStyle:hover {
    text-decoration: none;
}

.topPlace {
    margin-top: 5pt;
    text-align: center;
}

.topPlace:hover {
    background: lightgrey;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.topPlaceSmall{
    margin-top: 5pt;
    text-align: center;
}

.topPlaceSmall:hover{
    background: lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.cartHover:hover {
    color: darkslategray;
    text-decoration: none;
}

#menuButton{
    border: 1px solid #818181cc;
    border-radius: 5px;
}
#menuButton:focus{
    outline: 0;
}

.cartButton{
	border: 1px solid grey;
	border-radius: 5px;
	background-color:white;
	padding: 3px;
}

.cartButton:hover{
	cursor: pointer;
}

@media ( min-width : 990px) {
    .link {
        padding-top: 0.2vw;
    }
}

#hideTopPlaceSmall{
    margin-left:auto;
    margin-right:auto
}

@media(max-width: 768px){
    #hideTopPlaceSmall{
        display:none;
    }
    #large{
        display:none;
    }
} 

@media ( min-width : 768px) {
    .col-md-0 {
        display: none;
    }
    #small{
        display:none;
    }

}