<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<display-name>HelloWorldServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>index</servlet-name>
  	<display-name>index</display-name>
  	<description></description>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<display-name>Main</display-name>
  	<description></description>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>rentServlet</servlet-name>
  	<display-name>rentServlet</display-name>
  	<description></description>
  	<servlet-class>rentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>startServlet</servlet-name>
  	<display-name>startServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.startServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>impressumServlet</servlet-name>
  	<display-name>impressumServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.impressumServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>aboutServlet</servlet-name>
  	<display-name>aboutServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.aboutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cookieCartServlet</servlet-name>
  	<display-name>cookieCartServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.cookieCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bikeOverviewServlet</servlet-name>
  	<display-name>bikeOverviewServlet</display-name>
  	<description></description>
  	<servlet-class>bizirkel.bikeOverviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rentServlet</servlet-name>
  	<url-pattern>/rentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>startServlet</servlet-name>
  	<url-pattern>/startServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>impressumServlet</servlet-name>
  	<url-pattern>/impressumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>aboutServlet</servlet-name>
  	<url-pattern>/aboutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cookieCartServlet</servlet-name>
  	<url-pattern>/cookieCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bikeOverviewServlet</servlet-name>
  	<url-pattern>/bikeOverviewServlet</url-pattern>
  </servlet-mapping>
</web-app>
